header {
    width: 100%;
}

.logo img {
    width: 250px;
}

.nav {
    height: 60px;
    background-color: black;
}

header ul {
    list-style-type: none;
    line-height: 60px;
}

header ul li {
    float: left;
    padding-right: 40px;
    padding-left: 40px;
    color: white;
}
    
}

.main-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
}

.left {
    float: left;
    width: 70%;
    padding-right: 50px;
}



form{
    margin-bottom: 10px;
    margin-left: 30px;
    background-color: #f1f1f1;
    border:3px solid #ebebeb;
    border-radius: 10px;
}

form div {
    padding: 15px;
}

.text,textarea{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color:#bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid gray; 
}

.kiji{
    margin-top: 10px;
    margin-left: 30px;
    background-color: #f1f1f1;
    border:3px solid #ebebeb;
    border-radius: 10px;
}


.right {
    float: left;
    width: 25%;
    margin-top: 30px;
}

.right p {
    font-size: 20px;
    border-bottom: 1px dotted gray;
}

.right ul {
    list-style-type: none;
    margin-left: -35px;
    margin-top: -10px;
    line-height: 30px;
}

.right ul li {
    margin-top: 15px;
}

footer {
    clear: left;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}
